# Ignore Streamlit secrets
.streamlit/secrets.toml
.streamlit/

# Ignore Python cache folders
__pycache__/
**/__pycache__/
*.pyc

# Ignore local venv
.venv/
venv/

# Ignore local cache
cache/

# Local testing environment
lab/


# Pytest cache
.pytest_cache/

# Environment variables
.env
.gemini/
.vscode/
.DS_Store
